@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --tabbar-stack: calc(80px + 30px + env(safe-area-inset-bottom));
}

page,
body,
view,
text,
input,
textarea,
button {
  font-family: PingFangSC, PingFang SC;
}

page {
  background-color: #000;
}

.app-root {
  min-height: 100vh;
  background: #000;
}
